---
import { Image } from "astro:assets";
import { getEntryBySlug, type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const author = await getEntryBySlug("authors", post.data.author);
---

<article>
  <a href={`/blog/${post.slug}`}>
    <Image
      class="rounded-2xl shadow-xl mb-6 aspect-thumbnail object-cover"
      src={post.data.image}
      alt={post.data.title}
      width={600}
      height={600 / 2}
    />
    <a
      class="text-4xl text-zinc-900 mb-4 font-semibold inline-block"
      href={`/blog/${post.slug}`}>
      <h2 class="text-2xl font-bold mb-2">{post.data.title}</h2>
    </a>
    <p class="text-zinc-500 text-2xl mb-9 line-clamp-3">
      {post.body}
    </p>
    <div class="flex justify-between items-center">
      {
        author ? (
          <a
            class="text-zinc-900 text-2xl font-bold"
            href={`/author/${author?.slug}`}>
            {author.data.name}
          </a>
        ) : null
      }
      <span class="text-zinc-700 text-xl">
        {post.data.date}
      </span>
    </div>
  </a>
</article>
