---
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '@fontsource-variable/open-sans';
import '@fontsource-variable/fira-code';
import '@fontsource/merriweather';
import { getThumbnail } from '../cloudinary';
import TwSizeIndicator from '../components/TwSizeIndicator.astro';
import '../base.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const {
  title = 'Rigo Built Garage',
  description = 'Automotive Repair Shop',
  image = getThumbnail('Automotive Repair Shop'),
} = Astro.props;

const theme = Astro.cookies.get('theme')?.value ?? 'system';
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image:alt" content={description} />
    <!-- Open Graph / Twitter -->
    <meta property="twitter:card" content="summary_big_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />
    <meta property="twitter:image:alt" content={description} />
    <ViewTransitions />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class="transition-all ease-in-out duration-1000 transform-cpu">
    <TwSizeIndicator />
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
